.featured-img{
    height: 300px;
    width: 300px;

}

.box-area{
    width: 992px
}


.btn{
   position: relative;
}

.button--loading .button--text {
    visibility: hidden ;
    opacity: 0;
}

.input-field {
    position: relative;
    width: 100%;
   
}



.error-message {
    position: absolute;
    bottom: -22px;
    left: 1;
    width: 100%;
    font-size: 1rem;
    color: red;
    
    padding-top: 4px;
  }

.button--loading::after{
 content: "";
 position: absolute;
 width: 16px;
 height: 16px;

 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 border: 3px solid transparent;
 border-top-color: #ffffff;
 border-radius: 50%;
 animation: button-loading-spinner 1s ease-out infinite;
}

@keyframes button-loading-spinner {

    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}



