.custom-snack-bar-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 25px; /* optional - so is the snack bar a little bit small */
}

#progress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}