<div *ngIf="productData && productData.length > 0" class="card shadow">

  <div class="card-body">
    <div class="search_content">
      <!-- class="example-container mat-elevation-z8" -->
      <div *ngIf="productData && productData.length > 0">

        <div class="row m-0" style="border: 1px solid rgb(228, 228, 228); box-shadow: 20px">
          <div class="col justify-content-start">
            <p class="search_title">
              1-50 of over {{ productData.length }} results for "{{
              productData[0].keyword
              }}"
            </p>
          </div>

          <div class="col">
            <div class="d-flex justify-content-end">
              <select (change)="changeSortOrder($event)" class="form-select m-2" style="width: auto"
                aria-label="Default select example">
                <option selected>Sort Order</option>
                <option value="ratingLowToHigh">Rating: Low to High</option>
                <option value="ratingHighToLow">Rating: High to Low</option>
                <option value="priceLowToHigh">Price: Low to High</option>
                <option value="priceHighToLow">Price: High to Low</option>
              </select>
            </div>
          </div>
        </div>

        <div style="padding: 5px; margin-top: 3px">
          <form [formGroup]="searchProductForm" (ngSubmit)="productSearch()">
            <div class="row">
              <div class="col-lg-9">
                <input class="form-control me-2" formControlName="search" type="text"
                  style="width: 100%; font-size: small" placeholder="Search" aria-label="Search" />
              </div>
              <div class="col-lg-3">
                <button class="btn btn-primary" style="font-size: small; width: 100%" type="submit">
                  Search Product
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="filters">
          <div class="row">
            <div class="text-start m-2">
              <i class="fas fa-filter" style="font-size: 1rem p-10"></i>Filters
            </div>

            <div class="col-lg-3">
              <div class="d-flex">
                <select (change)="applyFilter($event)" class="form-select m-2" style="width: 100%"
                  aria-label="Default select example">
                  <option selected>by rating</option>
                  <option *ngFor="let rating of ratings" [value]="rating">
                    <p *ngIf="rating == 4; else elseBlock">{{ rating }} & Up</p>
                    <ng-template #elseBlock>
                      {{ rating }}
                    </ng-template>
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-9"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>  

  <div *ngIf="productData && productData.length > 0" class="card mt-2 shadow">

    <div class="card-body overflow-scroll p-3">

      <!-- (matSortChange)="announceSortChange($event)" -->
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Review Title Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let review; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>

        <!-- Review Detail Column -->
        <ng-container matColumnDef="pdp_title_value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Product Name
          </th>
          <td mat-cell *matCellDef="let review">
            {{ review.pdp_title_value }}
          </td>
        </ng-container>

        <!-- Review Detail Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
          <td mat-cell *matCellDef="let data">
            {{ data.position }}
          </td>
        </ng-container>

        <!-- Review Detail Column -->
        <ng-container matColumnDef="keyword">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Keyword</th>
          <td mat-cell *matCellDef="let data">
            {{ data.keyword }}
          </td>
        </ng-container>

        <!-- Review Detail Column -->
        <ng-container matColumnDef="listingtype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Listing Type
          </th>
          <td mat-cell *matCellDef="let data">
            {{ data.Listing_Type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pdp_image_url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Images</th>
          <td mat-cell *matCellDef="let review">
            <img width="35px" height="35px" [src]="review.pdp_image_url" alt="" />
          </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
          <td mat-cell *matCellDef="let review">
            {{ review.brand_crawl }}
          </td>
        </ng-container>

        <!-- Review Detail Column -->
        <ng-container matColumnDef="bestSeller">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Best Seller
          </th>
          <td mat-cell *matCellDef="let data">
            {{ data.best_seller }}
          </td>
        </ng-container>

        <!-- Rating Column -->
        <!-- <ng-container matColumnDef="web_pid">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ASIN  </th>
                  <td mat-cell *matCellDef="let review">{{review.web_pid}}  </td>
                </ng-container> -->

        <!-- Reviewed By Column -->
        <ng-container matColumnDef="price_sp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Selling Price
          </th>
          <td mat-cell *matCellDef="let review">{{ review.price_sp }}</td>
        </ng-container>

        <!-- Reviewed Date Column -->
        <ng-container matColumnDef="price_rp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
          <td mat-cell *matCellDef="let review">{{ review.price_rp }}</td>
        </ng-container>

        <!-- Verified Purchase Column -->
        <ng-container matColumnDef="pdp_discount_value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Discounted Price
          </th>
          <td mat-cell *matCellDef="let review">
            {{ review.pdp_discount_value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pdp_rating_value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ratings</th>
          <td mat-cell *matCellDef="let review">
            {{ review.pdp_rating_value
            }}<app-star-rating style="display: inline-block" [stars]="review.pdp_rating_value"></app-star-rating>
          </td>
        </ng-container>

        <ng-container matColumnDef="pdp_rating_count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Rating Count
          </th>
          <td mat-cell *matCellDef="let review">
            {{ review.pdp_rating_count }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="pdp_page_url">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
                  <td mat-cell *matCellDef="let review"><a [href]="review.pdp_page_url" target="_blank"> 
                    <ng-container matColumnDef="web_pid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ASIN  </th>
                    <td mat-cell *matCellDef="let review">{{review.web_pid}}  </td>
                  </ng-container></a> </td>
                </ng-container> -->

        <ng-container matColumnDef="web_pid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ASIN</th>
          <td mat-cell *matCellDef="let review">
            <a [href]="review.pdp_page_url" target="_blank">{{
              review.web_pid
              }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="bought">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bought</th>
          <td mat-cell *matCellDef="let review">{{ review.bought }}</td>
        </ng-container>

        <ng-container matColumnDef="moreInfo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            More Info
          </th>
          <td mat-cell *matCellDef="let review">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              More info
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" (click)="openReviewDialog(review.web_pid)">View Reviews</a>
              </li>
              <!-- <li><a class="dropdown-item" (click)="openReviewAnalysisDialog()">Reviews analysis</a></li>  -->
            </ul>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <!-- added sticky for table header-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

    </div>
    <mat-paginator class="card-footer" [length]="this.productData.length" [pageSize]="50"
      [pageSizeOptions]="[50, 100, 1000]" (page)="onPageChange($event)" aria-label="Select page of users">
    </mat-paginator>
  </div>