.loader-container{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 33, 33);
    padding: 20px;
    text-align: center;
    z-index: 101;
    opacity: 0.9;
}


.mat-column-index{
  width:30px;
}

.mat-column-pdp_rating_value{
  width:140px;
}
.mat-column-pdp_title_value{
  width:230px;
}
.mat-column-pdp_image_url{
    width: 36px;
}

.mat-column-web_pid{
    width: 100px;
}

.mat-column-price_rp{
    width: 50px;
}

.mat-column-price_sp{
    width: 80px;
}
.mat-column-pdp_discount_value{
    width: 80px;
}

.mat-column-pdp_rating_count{
    width: 90px;
}

.mat-column-bought{
    width:100px;
}
.mat-column-moreInfo{
    width:130px;
}


.mat-mdc-header-row{
  text-align: center;     
  background-color: #009688;
  color: white;
  font-weight: bold;
  word-spacing: 2px;
} 

.mat-mdc-row:nth-child(even) {
  background-color: #f1f1f1; /* Set the background color for even rows */
}

.mat-mdc-row:nth-child(odd) {
  background-color: #ffffff; /* Set the background color for odd rows */
} 
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f1f1f1;
} 

.example-container {
  height: 40rem;
  width: inherit;
  max-width: 100%;
  overflow: auto;
}
  
table {
  width: 1500px;
  
}
  
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
  
th {
  background-color: #f2f2f2;
  text-align: left;
}

.search_content{
  position: relative;
}
  .content{
     background:  #ebe9e9;
     width: 100%;
     padding: 5px;
     margin-top: 0;
  }
  .filter--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-control{
    width: 14rem;
  }

  .grid-box{
    border: 1px solid;
    padding: 10px;
    margin: 0 5px;
  }
  
  .grid-box{
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    margin: 0 5px;
  }
 
  .search_title{
    padding: 10px;
    display: flex;
    flex-direction: row;
  }