
    mat-toolbar{
        position: relative;
        z-index: 5;
    }
    .content{
        padding: 24px;
    }

    .nav-spacer{
        flex: 1 1 auto;
    }

    mat-sidenav-container{
        height: calc(100vh - 64px);
    }

    mat-sidenav,
    mat-sidenav-content{
        transition: all 300ms ease-in-out;
    }

    mat-sidenav {
        transition: width 0.3s ease-in-out;
      }
      
    //   .mat-sidenav-opened {
    //     width: 265px;
    //   }
      
    //   .mat-sidenav-closed {
    //     width: 65px;
    //   }

  