<div class="col-md-7 mt-1 card shadow" >
        <div class="row m-0 card-body">
            <div class="col-md-5 col-sm-12 m-0 p-0" style="border: 1px solid #ddd;  ">
                <a (click)="insertComponent('Market Trend And News')" >Market Trend & News</a>
            </div>
            <div class="col-md-4 col-sm-12 m-0 p-0" style="border: 1px solid #ddd; ">
                <a (click)="insertComponent('Market Leader')" >Market Leader</a>
            </div>
            <div class="col-md-3 col-sm-12 m-0 p-0" style="border: 1px solid #ddd; ">
                <a (click)="insertComponent('Innovation')">Innovation</a>
            </div>
        </div>
</div>

<main class="mt-2" style="width: 100%;">
    <app-tab-control [data]="data"></app-tab-control>
</main>
    



