.mat-mdc-header-row{
    text-align: center;     
    background-color: #00575b;
    color: white;
    font-weight: bold;
    word-spacing: 2px;
   }
.mat-mdc-row:nth-child(even) {
    background-color: #f1f1f1; /* Set the background color for even rows */
}
  
.mat-mdc-row:nth-child(odd) {
    background-color: #ffffff; /* Set the background color for odd rows */
} 
.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #f1f1f1;
}    